<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.motionlaboratory.meesier">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_maveer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_maveer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.Splash"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Maveer" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LokasiAcaraActivity"
            android:label="Lokasi Acara" />
        <activity
            android:name=".DetailLokasiActivity"
            android:label="Detail Lokasi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FormBuatAcara"
            android:label="Data Umum" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".SewaDekorasiActivity"
            android:label="Sewa Dekorasi" />
        <activity
            android:name=".DetailDekorasiActivity"
            android:label="Detail Dekorasi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SewaFotograferActivity"
            android:label="Sewa Fotografi" />
        <activity
            android:name=".DetailFotografiActivity"
            android:label="Detail Fotografi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SewaUndanganActivity"
            android:label="Sewa Undangan" />
        <activity
            android:name=".DetailUndanganActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"></activity>
        <activity android:name=".TransaksiActivity"
            android:label="Rekap Transaksi"
            ></activity>
    </application>

</manifest>